body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

a {
    color: $mainRed;
}

input:focus {
    outline: none;
    border-color: $mainPink;
    box-shadow: 3px 3px 12px rgba($mainPink, 0.8);
}