.book {
    position: relative;
    margin-bottom: 4rem;
    max-width: 303px;
    margin: 0 auto 5rem auto;
    
    
    &__title {
        font-weight: 500;
        font-size: 1.9rem;
        color: $mainPink;
        margin-bottom: .5rem;
        margin-top: 2rem;
        text-align: center;

     @mixin atSmall {
        font-size: 1.875rem;
        }
    }

    &__subtitle {
        color: $mainRed;
        font-size: 1.2rem;
        font-weight: 300;
        text-align: center;
        margin-top: 0;
        margin-bottom: 1.1rem;
    }

    &__cover {
        max-width: 303px;
    }

    &__description {
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 1.8125rem 1px 1.8125rem;
        max-width: 404px;
        max-height: 400px;
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: all .3s ease-out;
        overflow-y: auto;

        &--is-visible {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }

        @mixin atMedium {
            padding-top: 4rem;
            height: 645px;
            max-height: 490px;
        }

        p {
            margin-bottom: .5;
        }

        /* &--visbile-at-medium {
            display: none;

            @mixin atMedium {
                display: block;
            }
        } */
    }

    &__modal--close {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background-color: rgba($mainPink, .7);
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1rem;
        transform: translateY(0) scale(1);
        transform-origin: 100% 0;
        color: #FFF;
        text-align: center;
        line-height: 18px;
        cursor: pointer;

        @mixin atMedium {
            width: 2rem;
            height: 2rem;
            font-size: 2rem;
            line-height: 26px;
        }

        &:active {
            transform: scale(.85);
          }
    
        &:hover {
            background-color: rgb(240, 116, 149);        
        }
        

    }

    &__modal--open {
        font-family: 'Allura', cursive;     
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background-color: rgba($mainPink, .7);
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1rem;
        transform: translateY(0) scale(1);
        transform-origin: 100% 0;
        color: #FFF;
        text-align: center;
        line-height: 23px;
        cursor: pointer;


        &:active {
            transform: scale(.85);
          }
    
        &:hover {
            background-color: rgb(240, 116, 149);        
        }

        @mixin atMedium {
            width: 2rem;
            height: 2rem;
            font-size: 2rem;
            line-height: 36px;
        }
        

    }

    &__amazon-link {
        position: relative;
        color: $mainRed;
        text-align: center;
        padding-top: 15px;
        font-size: 1.45rem;

        @mixin atMedium {
            font-size: 2rem;
        }
    }

    &__retail-links {
        position:relative;
        display: block;
        color: #FFF;
        margin: .5rem auto 2rem auto;
        text-align: center;

        ul {
            margin: 0;
            padding: 0;
            @mixin clearfix;
        }
        


        a {
            color: $mainPink;
            font-weight: 300;
            text-decoration: none;


       
    
            @mixin atMedium {
                padding: 0;
                font-size: 1.5rem;
                background-color: transparent;
                
                &.is-current-link {
                    color: rgba($mainRed, .5);
                }
            }
        }
    }
 
}