.btn {
    background-color: $mainPink;
    color: #FFF;
    text-decoration: none;
    padding: 1rem .75rem;
    display: inline-block;
    border-radius: 5px;

    &--large {
       
        padding: 1.2rem 1.9rem;

        @mixin atSmall {
            font-size: 1.25rem;
        }
        &:hover {
            background-color: rgb(240, 116, 149);        
        }
    }

    &:active {
        transform: scale(.85);
      }

    &:hover {
        background-color: rgb(240, 116, 149);        
    }

    &--top {
        margin: .5rem 0 .5rem 0;
        display: none;

        @mixin atMedium {
            display: block;
        }
    }

    &--form {
        padding: 0.475rem 0.75rem;
    }

}