.large-hero {
    position: relative;
    border-bottom: 10px solid $mainPink;

    &__image {
        display: block;
    }

    &__text-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: center;
    }

    &__title {
        font-weight: 300;
        font-family: 'Emilys Candy', cursive;
        font-size: 2.4rem;
        color: $mainRed;
        margin: 0;
        margin-bottom: 2rem;

        @mixin atSmall {
            font-size: 4.8rem;
            margin-bottom: 3rem;
        }
    }

    &__subtitle {
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        color: $mainPink;
        margin: 0;

        @mixin atSmall {
            font-size: 2.9rem;
        }
    }

    &__description {
        font-family: 'Allura', cursive;     
        font-weight: 100;
        color: $mainRed;
        font-size: 1.2rem;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
        max-width: 10rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;

        @mixin atSmall {
            font-size: 1.9rem;
            margin-top: 4rem;
            max-width: 35rem;
        }
    }

}
