.row {
    &__about {
        position: relative;
        display: block;
        width: 90%;
        max-width: 500px;
        margin: 0 auto;

    }
    @mixin clearfix;

    &--gutters {
        margin-right: -65px;
    }

    &--gutters > div {
        padding-right: 65px;
    }

    &__b-margin-until-medium {
        margin-bottom: 1rem;
    }

    @mixin atMedium {
        &__medium-6 {
            float: left;
            width: 50%;
        }

        &__b-margin-until-medium {
            margin-bottom: 0;
        }

        &__medium-4 {
            float:left;
            width: 30%;
        }

        &__medium-8 {
            float: left;
            width: 60%;
        }


    }

    /** Begin Equal Height Rules **/

    /* &--equal-height-at-medium {
        @mixin atMedium {
            display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    } */

}