.section-title {
    font-size: 1.9rem;
    font-weight: 300;
    color: $mainPink;
    text-align: center;

    @mixin atSmall {
        font-size: 3.75rem;
    }

    &--white {
        color: #FFF;
    }

    &--icon {
        display: block;
        margin-top: 5px;


        @mixin atMedium {
            padding-bottom: -2rem;
            padding-top: 100px;
        }
    }

    &--modal {
        margin: 5px auto;
        font-size: 1.2rem;

        @mixin atMedium {
            font-size: 1.9rem;
            font-weight: 300;
            margin-bottom: 2rem;
        }
    }
}